<section class="product_list section">
  <h2 class="is-size-4 has-text-centered">限時閃購商品 － 全台獨家優惠</h2>

  <section class="container">
    

    <div class="columns is-multiline">

     <% products.each do |product| %>
      <div class="column is-4">
        <div class="card product-item is-shadowless">
          <div class="card-image">
              <% if product.cover_image.attached? %>
              <%= link_to product do %>
              <%= image_tag product.cover_image.variant(resize:'250x250').processed %>
              <%end%>
              <% else %>
              <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Placeholder image">
              <% end %>
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="is-size-6"><%= product.vendor.title %></h4>
              <p><%= link_to product.name, product,class:'has-text-dark' %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </section>
</section>